<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Eduard Tarassov</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing
      elit.</p>
    <p>Ad aliquam animi aperiam aut consequuntur debitis dicta,
      eveniet expedita fuga minima nihil possimus, quas quidem quos repellendus
      repudiandae soluta tempore veniam.</p>
  </div>
</div>